<!DOCTYPE html>
<html>
  <head>
    <title>Request Async</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <input type="text" />

  <script src="/javascripts/index.js"></script>
  </body>
</html>
